h1 {
	color: blue;
	text-align: center;
	font-family: 'Josefin Slab';

}
#ui_widget {
	text-align: center;
	color: #d3d3d3;
	font-family: Georgia, Serif;	


}

input {
  border:2px solid #DDDDDD;
  font-size:18px;
  outline:2;
  padding:6px 18px;
}
